body {
    background-color: antiquewhite;
}
nav {
    display: flex;
    border: 2px solid black;
    border-radius: 40px;
    height: 60px;
    background-color: rgb(102, 101, 101);
}

.tag a {
    font-size: 40px;
    padding: 80px;
    margin: 50px;
    text-decoration: none;
}

#web {
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    height: 50vh;
    border-radius: 20px;
    background-color: rgb(122, 122, 122);
    margin-top: 10px;
}

#web1 {
    background-color: rgb(100, 241, 100);
    border-radius: 20px;
    margin-top: 25px;
}

.logo {
    height: 50px;
    width: 70px;
    margin: 5px;
}

.logo1 {
    height: 50px;
    width: 70px;
}

.logo1 img {
    margin: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 1px white;
    filter: invert();

}

.logo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 1px white;

}

.headline {
    text-align: center;
    text-decoration: underline;
    box-shadow: 2px 2px 10px 10px rgb(226, 222, 222);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 30px;
}

.box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 107px;
    opacity: 0.7;
}
